table{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

td{
    border: 1px solid black;
}

button{
    font-size: 20px;
    background-color: #4CAF50  ; /* Green */
}
/*body{
  background-color: gray;
}*/
